.dairy{
color: blue;
}
.fruit{
  color: red;
}
.vegitable{
  color: green;
}
.meat{
  color: brown;
}
.knitting{
  color: purple;
}
.electronics{
  color: black;
}
.snack{
  color: orange;
}
.canned{
  color: gray;
}
.clothing{
  color: pink;
}
.school{
  color: yellow;
}
