body{
  background: pink;
}
ul{
  background: purple;
  color: white;
}
section {
  float: left;
  width: 20%;
  height: 500px;
  background-color: rgb(250, 72, 200);
  color: white;
}
aside {
  float: right;
  width: 80%;
  height: 500px;
}

